[Application]
name=pyBrowser
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=client:main
console=true
[Python]
version=3.9.10 
bitness=64
[Include]
# Packages from PyPI that your application requires, one per line
# These must have wheels on PyPI:
pypi_wheels = requests==2.27.1
        urllib3==1.26.8
        charset-normalizer==2.0.10
        chardet==4.0.0
        certifi==2021.10.8
        idna==3.3
